<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Control</title>
</head>
<body>
  <h1>Control</h1>

  <h2>Pump</h2>
  <p>State: {{pumpState}}</p>
  <p>Action: <button type="button" name="pumpOn" style="color: green;" onclick="location.href='/Control/pumpOn'">Pump on</button>
  <button type="button" name="pumpOff" style="color: red;" onclick="location.href='/Control/pumpOff'">Pump off</button></p>
  
  <h2>EV1</h2>
  <p>State: {{ev1State}}</p>
  <p>Action: <button type="button" name="ev1On" style="color: green;" onclick="location.href='/Control/ev1On'">EV1 on</button>
  <button type="button" name="ev1Off" style="color: red;" onclick="location.href='/Control/ev1Off'">EV1 off</button></p>
  
  <h2>EV2</h2>
  <p>State: {{ev2State}}</p>
  <p>Action: <button type="button" name="ev2On" style="color: green;" onclick="location.href='/Control/ev2On'">EV2 on</button>
  <button type="button" name="ev2Off" style="color: red;" onclick="location.href='/Control/ev2Off'">EV2 off</button></p>

  <h1>Refresh</h1>
  <button type="button" name="refresh" style="color: gray;" onClick="Refresh()">Refresh</button>
  <script>
    function Refresh() {
      window.parent.location = window.parent.location.href;
    }
  </script>
</body>
</html>