<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Control</title>
</head>
<body>
  <h1>Control</h1>
  <h2>Pump</h2>
  <button type="button" name="pumpOn" style="color: green;" onclick="alert('Pump on')">Pump on</button>
  <button type="button" name="pumpOff" style="color: red;" onclick="alert('Pump off')">Pump off</button>
  <h2>EV1</h2>
  <button type="button" name="ev1On" style="color: green;" onclick="alert('EV1 on')">EV1 on</button>
  <button type="button" name="ev1Off" style="color: red;" onclick="alert('EV1 off')">EV1 off</button>
  <h2>EV2</h2>
  <button type="button" name="ev2On" style="color: green;" onclick="alert('EV2 on')">EV2 on</button>
  <button type="button" name="ev2Off" style="color: red;" onclick="alert('EV2 off')">EV2 off</button>
</body>
</html>
