<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EnvData</title>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
  <h1>Temperature/humidity/pressure from BME280 sensor</h1>
  <h2>Options:</h2>
  <ul>
    <li><a href="/EnvData/display/day">Day</a></li>
    <li><a href="/EnvData/display/week">Week</a></li>
    <li><a href="/EnvData/display/month">Month</a></li>
    <li><a href="/EnvData/display/year">Year</a></li>
    <li><a href="/EnvData/display/all">All</a></li>
    <li><a href="/EnvData/realtime">Realtime</a></li>
  </ul>
  <h2>Current value:</h2>
  <table><tr>
    <td>
      <div id="container-temperature" style="height: 200px; width: 400px" class="chart-container"></div>
    </td>
    <td>
      <div id="container-humidity" style="height: 200px; width: 400px" class="chart-container"></div>
    </td>
    <td>
      <div id="container-pressure" style="height: 200px; width: 400px" class="chart-container"></div>
    </td>
  </tr></table>
  <h2>Plot:</h2>
  <!--{% autoescape off %}
  {{div}}
  {% endautoescape %}-->
  <div id="chart-temperature" class="container"></div>
  <div id="chart-humidity" class="container"></div>
  <div id="chart-pressure" class="container"></div>
  <button type="button" name="refresh" style="color: gray;" onClick="Refresh()">Refresh</button>
  <script>
    function Refresh() {
      window.parent.location = window.parent.location.href;
    }

    // The temperature gauge
    var chartTemp = Highcharts.chart({
      chart: { 
        type: 'solidgauge',
        renderTo : 'container-temperature'
      },

      title: { text: 'Temperature' },

      pane: {
        center: ['50%', '85%'],
        size: '140%',
        startAngle: -90,
        endAngle: 90,
        background: {
          backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
          innerRadius: '60%',
          outerRadius: '100%',
          shape: 'arc'
         }
      },
      plotOptions: {
        solidgauge: {
          dataLabels: {
            y: 5,
            borderWidth: 0,
            useHTML: true
          }
        }
      },

      credits: {
          enabled: false
      },
      
      yAxis: {
        stops: [
          [0.1, '#0000FF'], // blue
          [0.5, '#F633FF'], // ?
          [0.9, '#DF5353'] // red
        ],
        min: -40,
        max: 60,
        title: null
      },

      series: [{
        name: 'Temperature',
        data: [{{lastTemp}}],
        dataLabels: {
          format:
            '<div style="text-align:center">' +
            '<span style="font-size:18px">{y:.2f} °C</span><br/>' +
            '</div>'
          },
          tooltip: {
            valueSuffix: ' °C'
          }
      }]
    });

    // The humidity gauge
    var chartHumi = Highcharts.chart({
      chart: { 
        type: 'solidgauge',
        renderTo : 'container-humidity'
      },

      title: { text: 'Humidity' },

      pane: {
        center: ['50%', '85%'],
        size: '140%',
        startAngle: -90,
        endAngle: 90,
        background: {
          backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
          innerRadius: '60%',
          outerRadius: '100%',
          shape: 'arc'
         }
      },
      plotOptions: {
        solidgauge: {
          dataLabels: {
            y: 5,
            borderWidth: 0,
            useHTML: true
          }
        }
      },

      credits: {
          enabled: false
      },

      yAxis: {
        stops: [
          [0.1, '#DDFB00'], // yellow
          [0.5, '#00FB0A'], // ?
          [0.9, '#0000FF'] // red
        ],
        min: 0,
        max: 100,
        title: null
      },

      series: [{
        name: 'Humidity',
        data: [{{lastHumi}}],
        dataLabels: {
          format:
            '<div style="text-align:center">' +
            '<span style="font-size:18px">{y:.2f} %</span><br/>' +
            '</div>'
          },
          tooltip: {
            valueSuffix: ' %'
          }
      }]
    });

    // The pressure gauge
    var chartPres = Highcharts.chart({
      chart: { 
        type: 'solidgauge',
        renderTo : 'container-pressure'
      },

      title: { text: 'Pressure' },

      pane: {
        center: ['50%', '85%'],
        size: '140%',
        startAngle: -90,
        endAngle: 90,
        background: {
          backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
          innerRadius: '60%',
          outerRadius: '100%',
          shape: 'arc'
         }
      },
      plotOptions: {
        solidgauge: {
          dataLabels: {
            y: 5,
            borderWidth: 0,
            useHTML: true
          }
        }
      },

      credits: {
          enabled: false
      },

      yAxis: {
        stops: [
          [0.1, '#DDFB00'], // yellow
          [0.5, '#00FB0A'], // ?
          [0.9, '#0000FF'] // red
        ],
        min: 940,
        max: 1050,
        title: null
      },

      series: [{
        name: 'Pressure',
        data: [{{lastPres}}],
        dataLabels: {
          format:
            '<div style="text-align:center">' +
            '<span style="font-size:18px">{y:4.2f} Pa</span><br/>' +
            '</div>'
          },
          tooltip: {
            valueSuffix: ' Pa'
          }
      }]
    });

    // Temperature plot
    var chartT = new Highcharts.Chart({
      chart: { renderTo : 'chart-temperature' },
      title: { text: 'Temperature' },
      series: [{
        showInLegend: false,
        color: 'blue',
        name: 'Temperature',
        data: {{temperatureTable}}
      }],
      plotOptions: {
        line: { animation: false,
          dataLabels: { enabled: true }
        },
        series: { color: '#059e8a' }
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: { text: 'Temperature [°C]' }
      },
      credits: { enabled: false }
    });
    // Humidity plot
    var chartH = new Highcharts.Chart({
      chart:{ renderTo:'chart-humidity' },
      title: { text: 'Humidity' },
      series: [{
        showInLegend: false,
        color: 'blue',
        name: 'Humidity',
        data: {{humidityTable}}
      }],
      plotOptions: {
        line: { animation: false,
          dataLabels: { enabled: true }
        }
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: { text: 'Humidity [%]' }
      },
      credits: { enabled: false }
    });
    // Pressure plot
    var chartP = new Highcharts.Chart({
      chart:{ renderTo:'chart-pressure' },
      title: { text: 'Pressure' },
      series: [{
        showInLegend: false,
        color: 'blue',
        name: 'Pressure',
        data: {{pressureTable}}
      }],
      plotOptions: {
        line: { animation: false,
          dataLabels: { enabled: true }
        },
        series: { color: '#18009c' }
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: { text: 'Pressure [Pa]' }
      },
      credits: { enabled: false }
    });
  </script>
</body>
</html>